 <%-include('includes/head.ejs')%>  
<!-- <link rel="stylesheet" href="css/Product.css" > -->
</head>
<!--  -->
<body>
    <%-include('includes/nav.ejs')%>

    <main class="centered">
        <h1><%=product.productName%></h1>
        <hr>
        <div>
            <img src="<%=product.imageUrl%>" alt="<%=product.productName%>" width="200" >
        </div>
        <h3><%=product.price%></h3>
        <h3><%=product.description%></h3>
        <h3><%=product._id%></h3>

        <div>
            <a href="/admin/edit-product/<%=product._id%>">edit</a>
            
            <!--delete button-->
            <form action="/admin/delete-product" method="post">
                <input type="hidden" name="id" value="<%=product._id%>">
                <br>
                <button class="btn btn-primary" type="submit">Delete</button>
            </form>
           
        </div>
        
        
    </main>  

</body>
</html> 