
    <%-include('includes/head.ejs')%> 
    <link rel="stylesheet" href="css/Product.css" >
</head>
<body>
    <!-- <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">Shop</a></li>
                <li class="main-header__item"><a href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header> -->
    <%-include('includes/nav.ejs')%>
    <main>
        <!-- <h1>shop page</h1>
        <h2>product list is follows ......</h2> -->
        <% if(products.length>0) {%>
        <div class="grid">
          <% for(let produc of products){%>
            <article class="card product-item">
                <header class="card__header">
                    <h1 class="product__title"><%=produc.productName%></h1>
                </header>
                <div class="card__image">
                    <img src="<%=produc.imageUrl%>" alt="<%=produc.productName%>" width="200" >
                </div>
                <div class="card__content">
                    <h2 class="product__price"><%=produc.price%></h2>
                    <p class="product__description"><%=produc.description%></p>
                </div>
               <div class="centered">
                   <a href="product/<%=produc._id%>">Details</a>
               </div>
                
            </article>
            <%}%> 
        </div>
        <%}else{%>
            <h1>no product found</h1>
            <%} %>
    </main>  
    
</body>
</html>